.hero-background {
    background: url('../images/home.png') no-repeat center center fixed;
    background-size: cover;
    /*background-position: center top;*/
    height: 100vh;
    
   
     /* Adjust the height as needed */
  }
  